
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.owner {
  font-size: 12px;
  color: gray;
}

.list-box {
  min-height: 200px;
}

.list-block {
  width: 100%;
  max-width: 400px;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.organizations-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.first-org-btn {
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 2px;
  font-size: 18px;
  color: #fff;
  background-color: rgb(45, 163, 27);
  border: 0;
  transition: all 0.2s ease;
}

.first-org-btn:hover {
  background-color: rgb(57, 208, 34);
}

.item {
  cursor: pointer;
  border-bottom: 1px solid rgb(119, 117, 117);
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:hover {
  background-color: #ccccccb0;
}

.active-item {
  border-bottom: 1px solid rgb(33, 147, 204);
}

button {
  transition: all 0.2s ease;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.add-btn {
  background-color: rgb(50, 169, 48);
  width: 36px;
  height: 36px;
  padding-top: 1px;
  font-size: 20px;
  margin-top: 5px;
}

.add-btn:hover {
  background-color: rgb(34, 150, 32);
}

.add-btn:active {
  background-color: rgb(28, 118, 26);
}

.org-details button {
  padding: 10px 0;
  font-size: 18px;
  width: 110px;
  height: 45px;
}

.member-details button {
  padding: 10px 0;
  font-size: 18px;
  width: 150px;
  height: 45px;
}

.invite-btn {
  background-color: rgb(50, 169, 48);
}

.invite-btn:hover {
  background-color: rgb(34, 150, 32);
}

.delete-btn {
  background: rgb(183, 51, 51);
}

.delete-btn:hover {
  background: rgb(162, 35, 35);
}

.delete-btn:active {
  background: rgb(126, 19, 19);
}

.edit-btn,
.access-btn {
  background: rgb(181, 206, 43);
}

.edit-btn:hover,
.access-btn:hover {
  background: rgb(169, 179, 21);
}

.edit-btn:active,
.access-btn:active {
  background: rgb(124, 124, 26);
}

.org-details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
}

.member-details {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.organization-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.member {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.msg-box {
  display: flex;
  flex: 1 1 auto;
  border-radius: 5px;
  height: 36px;
  font-size: 20px;
  padding: 0 5px;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
}

.msg-box.success-msg {
  background-color: rgba(43, 184, 43, 0.438);
}

.msg-box.error-msg {
  background-color: rgba(184, 43, 43, 0.438);
}

.msg-box .msg {
  font-size: 20px;
  line-height: 20px;
}

.msg-box .close-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  width: 24px;
  height: 24px;
  padding-top: 1px;
  padding-right: 1px;
}

.msg-box .close-btn:hover {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.153);
  transition: all 0.2s;
}

.load-icon {
  display: block;
  text-align: center;
  margin: 50px auto 0 auto;
  font-size: 30px;
  width: 100px;
}

.narrow-screen {
  display: none;
}

.wide-screen {
  display: block;
}

@media screen and (max-width: 768px) {
  .narrow-screen {
    display: block;
    width: 100%;
  }

  .wide-screen {
    display: none;
  }

  .organizations-container {
    flex-direction: column !important;
    gap: 10px;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
  }

  .header {
    margin-bottom: 0px;
  }

  .add-btn {
    width: 100%;
    margin: 5px 10px 10px 10px;
  }
}
